/* -----------------TO DO------------------ */
/* make it so numbers appear right to left */
/* clean up the buttons so they don't look like shit */
/* change font */
/* overhaul the UI to make it look like a legit calculator */


/* -----TOP DISPLAY FORMATTING----- */

#displayBox {
    width: 80%;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
}

#liveUpdate {
    width: 70%;
    height: 30px;
    border: none;
}

/* ------BUTTON FORMATTING----- */

/* 4 horizontal rows into columns */
#buttonHolder {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* organize row container's kids: 
4 boxes in each row stay in a row */
.gridRows {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

/* individual boxes */
.rowButton {
    flex-grow: 1;
    aspect-ratio: 1;
    border: none;
}
